<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bignerdranch.android.preemptivebookcafeuser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".AppReportFail" android:exported="true"></activity>
        <activity android:name=".AppReportSuccess" android:exported="true"></activity>
        <activity android:name=".AppReport" android:exported="true"></activity>
        <activity android:name=".AppDeskReportHistory" android:exported="true"></activity>
        <activity android:name=".AppDeskUsingHistory" android:exported="true"></activity>
        <activity android:name=".AppMain" android:exported="true"></activity>
        <activity android:name=".AppRegister" android:exported="true"></activity>
        <activity android:name=".MainActivity" android:exported="true"></activity>
        <activity
            android:name=".AppLogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- [START FCM 설정 추가] -->
        <service android:name=".MyFirebaseMessagingService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>